.container {
  padding: 5%;

  form {
    display: flex;
    flex-direction: column;

    input {
      color: #817f7f;
      padding: 0 10px;
      width: 300px;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .cities {
    width: 60%;

    .city {
      padding: 2% 5%;
    }

    .city:hover {
      cursor: pointer;
      background-color: #ededed;
    }
  }

  .cityInfo {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: row;
    gap: 20px;

    div {
      .info {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        padding: 2%;
      }
    }
  }
}
